body{
    margin:0px;
    padding:0px;
    background-color: royalblue;
}



#b1{
      height:400px;
    width:350px;
    background-color: white;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 40px;
    border-radius: 5px;
    display:inline-block;
}
#b2{
    height:520px;
    width:350px;
    background-color: white;
    border-radius: 5px;
    display:inline-block;
    margin-top: 100px;
    vertical-align: bottom;

}
#p1{
    margin:20px;
    font-size: 20px;
}
#p2{
    margin:20px;
    font-size: 20px;
}

u{
    text-decoration: underline;
    text-decoration-color: royalblue;
    text-decoration-thickness: 3px;
    width:10px;
}
#env2{
    padding-right: 25px;
   
}

.inpbox{
    border-bottom: 2px solid grey;
}

.inpbox input{
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 16px;
}

.innerbox{

    padding:25px;

}

.rem{
     padding-top:0px;
     padding-left: 20px;
}

#fp{
    padding-left: 50px;
    color:royalblue;
}

#btn1{
  height: 50px;
    width: 80%;
    display: block;
    margin: auto;
    background-color: royalblue;
    border-radius: 8px;
    color:white;
    font-size: 17px;
}

#acc1{
     display: block;
    text-align: center;
}
#signup1{
    color: royalblue;
}